
<h2 class="text-center"> Talleres </h2>
<h4 class="text-center"> Cada año realizamos diferentes talleres de montañismo, conoce acá las tres líneas que impartimos. </h4>
<br>

<div class="description">


  <div class="row">
    <div class="col-12 col-md-4 without-padding">
      <div class="description-box">
        <a href="#">
          <div class="description-img">
            <%=image_tag("description/desc2.jpg", class: "img-description")%>
          </div>
          <div class="description-intro animated fadeInUp h-100 w-100">
            <h3>Talleres de montañismo</h3>
            <a href=""><p class="small">Revisa la información</p></a>
            <p>Como medio para dar cumplimiento a lo anterior, el CAU ha creado una serie de talleres agrupados en niveles que buscan abarcar la formación de un montañista desde niveles iniciales a avanzados.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-4 without-padding">
      <div class="description-box">
        <a href="#">
          <div class="description-img">
            <%=image_tag("description/desc3.jpg", class: "img-description")%>
          </div>
          <div class="description-intro animated fadeInUp h-100 w-100">
            <h3>Talleres de montañismo</h3>
            <a href=""><p class="small">Revisa la información</p></a>
            <p>Como medio para dar cumplimiento a lo anterior, el CAU ha creado una serie de talleres agrupados en niveles que buscan abarcar la formación de un montañista desde niveles iniciales a avanzados.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-4 without-padding">
      <div class="description-box">
        <a href="#">
          <div class="description-img">
            <%=image_tag("description/desc4.jpg", class: "img-description")%>
          </div>
          <div class="description-intro animated fadeInUp h-100 w-100">
            <h3>Talleres de montañismo</h3>
            <a href=""><p class="small">Revisa la información</p></a>
            <p>Como medio para dar cumplimiento a lo anterior, el CAU ha creado una serie de talleres agrupados en niveles que buscan abarcar la formación de un montañista desde niveles iniciales a avanzados.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
